html {
	margin:0 !important;
	padding:0 !important;
	background-color: #333;
	height:100%;
}
body {
	color:black;
	margin:0 !important;
	padding:0 !important;
}
.header-img {
	background-image: url("#{resource['imgs/bonito.png']}");
	background-repeat: no-repeat;
	background-position:center;
	background-size: 100% 100%;
	height:300px;
}
.content {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:5%;
	margin-right:5%;
}

.content-box1 {
	background-color: white;
	height:auto;
	margin-bottom:30px;
}
.content-box2 {
	background-color: white;
	padding: 20px;
	min-height: 800px;
	heigth:auto;
}
.content-boxPost {
	background-color: white;
	min-height: 800px;
	heigth:auto;
}
.loginContentMargin {
	width:100%;
	padding-top:6%;
}
.descContent {
	background-color:#1e1e1e;
	z-index:5;
	padding:30px;
}
.loginContent {
	background-color:#eee;
	height:525px;
	padding:30px;
}
.cardImage {
	width:100%;
	height: 200px !important;
}

.image-preview {
  	width: 100%;
  	position: relative;
  	overflow: hidden;
  	background-color: #dfdfdf;
  	color: black;
  	border-radius: 20px;
  	background-size:cover !important;
  	background-position: center !important;
  	background-repeat: no-repeat !important;
}
.image-preview input {
  	line-height: 200px;
  	font-size: 200px;
  	position: absolute;
  	opacity: 0;
  	z-index: 10;
}
.image-preview label {
  	position: absolute;
  	z-index: 5;
  	opacity: 0.8;
  	cursor: pointer;
  	background-color: #bdc3c7;
  	height: 50px;
  	font-size: 20px;
  	line-height: 50px;
  	text-transform: uppercase;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	margin: auto;
  	text-align: center;
}
.textArea {
	width: 100%;
	height:300px;
}
.adminDetails {
	background-color:#1b1c1d;
	padding:10px;
	color:white;
	font-size: 25px;
	text-align:center;
}
.userDetails {
	background-color:#1b1c1d;
	padding:25px;
	color:white;
	font-size: 25px;
	text-align:center;
	height: auto;
}
.lateral-menu {
	background-color:white;
	padding: 20px;
}
.avatar {
	width:100%;
	height:300px;
}
.postBanner {
	width:100%;
	height:400px;
}
.postContent {
	padding:20px;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}
.postText {
	text-indent:50px;
	margin-top:15px;
	text-align: justify;
}
.noLink {
	color:black;
}
.noLink:hover {
	color:black;
	text-decoration:none;
}
.image-preview-edif {
	background-image: url("#{resource['imgs/posts/8/7751-600x413.jpg']}");
}
.buttonFill {
	width:100%;
	margin-top:5px;
	margin-bottom:5px;
}
.commentImage {
	height:50px !important;
}
.comments,.comment {
	margin:0 !important;
	padding:0 !important;
}
.replyForm {
	width:100% !important;
	height:200px;
	resize:none;
}